$UI_PRIMARY: #B4A5BC;
$UI_BUTTON: #694C79;

.clay-space.selected-parent,
.space-logic.selected-parent {
  padding-top: 10px;
}

.clay-space > .space-logic {
  display: none;
}

.clay-space > .space-logic-active {
  display: block;
}

.clay-space.clay-space-edit > .space-logic-active ~ .space-logic-active {
  display: none;
}

// Bold item in filtered list
.filtered-item-title-bold {
  font-weight: bold;
}

.filtered-item-title-sub {
  font-size: 10px;
  font-style: italic;
}

.space-button {
  border-left: 1px solid $UI_PRIMARY;
  background: 0 0;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: 0;
  color: #694C79;
  padding: 6px 8px;

  & svg {
    fill: $UI_BUTTON;
    transition: 150ms fill ease-out
  }
}
