$UI_PRIMARY: #B4A5BC;
$UI_BUTTON: #694C79;

.clay-space > .component-selector,
.space-logic > .component-selector,
.clay-space > .space-logic {
  display: none;
}

.clay-space > .space-logic-active,
.clay-space > .space-logic-editing  {
  display: block;
}

.clay-space.clay-space-edit > .space-logic-active ~ .space-logic-active,
.clay-space.clay-space-edit > .space-logic-editing ~ .space-logic-active {
  display: none;
}

.filtered-item-title-sub {
  font-size: 10px;
  font-style: italic;
}

.space-button {
  background: 0 0;
  border: none;
  color: $UI_BUTTON;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 14px;

  & svg,
  & svg * {
    fill: $UI_BUTTON;
    transition: 150ms fill ease-out
  }
}

.space-create {
  padding: 16px 14px;
}

.space-browse {
  position: relative;
  padding: 17px 14px;

  .logic-count {
    bottom: 13px;
    position: absolute;
    right: 7px;
  }
}

.space-parent {
  padding: 14px;

  & svg {
    height: 16px;
    width: 16px;
  }
}
