// Default button mixin
@mixin button {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 48px;
  margin: 0;
  outline: none;
  padding: 14px;
  width: 48px;
  z-index: 1;
}
