[data-uri*="clay-space"] > [data-uri] {
  display: none;
}


[data-uri*="clay-space"] > [data-logic-active] {
  display: block;
}

[data-uri*="clay-space"] > [data-logic-active] ~ [data-logic-active] {
  display: none;
}
