$UI_PRIMARY: #B4A5BC;
$UI_BUTTON: #694C79;

.clay-space > .component-selector,
.space-logic > .component-selector,
.clay-space > .space-logic {
  display: none;
}

.clay-space > .space-logic-editing  {
  display: block;
}

.filtered-item-title-sub {
  font-size: 10px;
  font-style: italic;
}

.space-create {
  border-left: 1px solid $UI_PRIMARY;
}

.space-browse {
  border-left: 1px solid $UI_PRIMARY;
  position: relative;

  .logic-count {
    bottom: 13px;
    position: absolute;
    right: 7px;
  }
}


// Readouts inside the logic browse pane
.filtered-item-title-logic-readout {
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
  margin-top: 4px;
}

.logic-group {
  display: flex;
  flex-wrap: wrap;
  margin-right: 8px;

  & svg {
    width: 12px;
    height: 12px;
    vertical-align: text-top;
  }

  & > .logic-icon {
    margin-right: 5px;
  }
}
